.btn-group {
	margin-top: 10px;
	margin-bottom: 10px;
}
button {
	margin-right: 10px;
}

/*.filerobot-common-Search,*/
.filerobot-Explorer-selectionTopMenu button:not(:first-child),
.filerobot-Explorer-TopBar-rightSide {
	display: none !important;
}

.scaleflexHeading {
    margin: 10px;
}
.scaleflexHeading img {
    margin-right: 10px;
}
.scaleflexHeading h1, .myHeading img {
    display: inline-block;
    vertical-align: middle;
}