.btn-group {
	margin-top: 10px;
	margin-bottom: 10px;
}
button {
	margin-right: 10px;
}

.filerobot-Explorer-TopBar-centerSide .filerobot-Explorer-selectionTopMenu button:not(:first),
.filerobot-Explorer-TopBar-rightSide, {
	display: none !important;
}